<div class="media">
  <a href="#" class="pull-left">
    <img class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="http://placehold.it/64x64&text=No+Photo">
  </a>
  <div class="media-body">
    <h4 class="media-heading" style="display: inline-block;">
      <%= link_to quote.service_provider.name, service_provider_path(quote.service_provider.uuid), :target => "_BLANK"  %>
      <br/> 
      <small class="text-success">
        <% if quote.request_meeting %>
          Request Call / Meeting
        <% else %>
          <b>Quote:</b> <%= number_to_currency(quote.price, :precision => 0) %>
        <% end %>
      </small>
    </h4>
    <% if quote.status == ACCEPTED or quote.status == JOB_ACCEPTED %>
      <span class="badge badge-success pull-right"><i class="icon-bookmark"></i>Job Awarded</span>
    <% end %>
    <% if quote.status == JOB_REJECTED %> 
      <span class="badge badge-important pull-right"><i class="icon-exclamation-sign"></i>Job Rejected</span>
    <% else %>
      <button class="award-button pull-right btn btn-success btn-small" style="display: none;" data-id="<%= quote.id %>">Award Job</button>
    <% end %>
    <p class="text-info"><%= quote.message %></p>
    <% if quote.status == ACCEPTED %>
      <div class="alert">
        <i class="icon-warning-sign"></i> &nbsp; Awaiting Acceptance. 
      </div>
    <% end %> 
  </div>
</div>
