<div style="overflow: auto;">
  <h2>Job Postings
    <a class="btn pull-right btn-primary" href="<%= new_buyer_job_path(current_user.uuid) %>">Post A Job</a>
  </h2>  
</div>
<div style="margin-bottom: 40px;">
  <%= form_tag(buyer_jobs_path(current_user.uuid), :remote => true, :method => :get, :id => "sort_jobs") do %>
    <select name="order" id="sort_job_list">
      <option></option>
      <option value="start_date">Start Date</option>
      <option value="end_date">Completion Date</option>
      <option value="budget">Budget</option>
    </select>
  <% end %>
</div>
<div id="job_feed">
  <%= render :partial => "jobs/job", :collection => @jobs, :locals => {:public => false}  %>
  <%= paginate @jobs, :remote => true %>
</div>