<div style="overflow: auto; margin-bottom: 40px;">
  <h2 class="pull-left" style="margin-top: 0;">My Jobs</h2>
  <select id="sort_job_list" class="pull-right">
    <option></option>
    <option>Start Date</option>
    <option>Completion Date</option>
    <option>Budget</option>
  </select>
</div>

<div class="media">
  <a href="#" class="pull-left">
    <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACGElEQVR4nO2UwYqjUBBF+/8/pUAEeSAiiCASBBmCSJAgISPyEJH6hTsLXyfpXiakL83U4oAxWhxPmXyoKv5nPtgCbCwAW4CNBWALsLEAbAE2FoAtwMYCsAXYWAC2ABsLwBZgYwHYAmwsAFuAjQVgC7CxAGwBNhaALcDGArw8ZJvQ5A5RJIhih/o4YvtyjUeTOySJQzsuPz/vvQEWNKlARBAlDpHsx/X5LjYdc0g4Xw3+h+e9O8Dc7ZJpi00V66XHoa5xPAex9QwXZG/C64jCOTiXoZsU6nvkzsG5AuPfJ+YxAyxDHWQipGmCOHE4dNfb930RQSTH6XT4IjxUyb7ltESVxRARJPXw9DxegHN920YUx7fjop+xjg1EBOVpgV6b8Cqv4d4JRXTfpMQV5pfmkQPERQdVhe/L/XPVoXHhNf3Toa1SiAhc2WCct/3eU3l7wM/f+CvzKAE+t5JUA1QV23gIwj3q+GHDDxQnD1WP2j2cdwcsL80jBdBtDH9KMcqmQZFEEBFkxyvWxcN7D7+suIZNlt0FmyoubbY/QJIhDQ+WtZen5/ECqGIZW8QPG4nzFvP3NyW82vWwQOc+XB+hne5bFnEYlifmsQOoKnT1mKYJ0/y60FvmvT3AL8YCsAXYWAC2ABsLwBZgYwHYAmwsAFuAjQVgC7CxAGwBNhaALcDGArAF2FgAtgAbC8AWYGMB2AJsLABbgM0/27cQO7lkPZoAAAAASUVORK5CYII=">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>
<div class="media">
  <a href="#" class="pull-left">
    <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACGElEQVR4nO2UwYqjUBBF+/8/pUAEeSAiiCASBBmCSJAgISPyEJH6hTsLXyfpXiakL83U4oAxWhxPmXyoKv5nPtgCbCwAW4CNBWALsLEAbAE2FoAtwMYCsAXYWAC2ABsLwBZgYwHYAmwsAFuAjQVgC7CxAGwBNhaALcDGArw8ZJvQ5A5RJIhih/o4YvtyjUeTOySJQzsuPz/vvQEWNKlARBAlDpHsx/X5LjYdc0g4Xw3+h+e9O8Dc7ZJpi00V66XHoa5xPAex9QwXZG/C64jCOTiXoZsU6nvkzsG5AuPfJ+YxAyxDHWQipGmCOHE4dNfb930RQSTH6XT4IjxUyb7ltESVxRARJPXw9DxegHN920YUx7fjop+xjg1EBOVpgV6b8Cqv4d4JRXTfpMQV5pfmkQPERQdVhe/L/XPVoXHhNf3Toa1SiAhc2WCct/3eU3l7wM/f+CvzKAE+t5JUA1QV23gIwj3q+GHDDxQnD1WP2j2cdwcsL80jBdBtDH9KMcqmQZFEEBFkxyvWxcN7D7+suIZNlt0FmyoubbY/QJIhDQ+WtZen5/ECqGIZW8QPG4nzFvP3NyW82vWwQOc+XB+hne5bFnEYlifmsQOoKnT1mKYJ0/y60FvmvT3AL8YCsAXYWAC2ABsLwBZgYwHYAmwsAFuAjQVgC7CxAGwBNhaALcDGArAF2FgAtgAbC8AWYGMB2AJsLABbgM0/27cQO7lkPZoAAAAASUVORK5CYII=">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>
<div class="media">
  <a href="#" class="pull-left">
    <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACGElEQVR4nO2UwYqjUBBF+/8/pUAEeSAiiCASBBmCSJAgISPyEJH6hTsLXyfpXiakL83U4oAxWhxPmXyoKv5nPtgCbCwAW4CNBWALsLEAbAE2FoAtwMYCsAXYWAC2ABsLwBZgYwHYAmwsAFuAjQVgC7CxAGwBNhaALcDGArw8ZJvQ5A5RJIhih/o4YvtyjUeTOySJQzsuPz/vvQEWNKlARBAlDpHsx/X5LjYdc0g4Xw3+h+e9O8Dc7ZJpi00V66XHoa5xPAex9QwXZG/C64jCOTiXoZsU6nvkzsG5AuPfJ+YxAyxDHWQipGmCOHE4dNfb930RQSTH6XT4IjxUyb7ltESVxRARJPXw9DxegHN920YUx7fjop+xjg1EBOVpgV6b8Cqv4d4JRXTfpMQV5pfmkQPERQdVhe/L/XPVoXHhNf3Toa1SiAhc2WCct/3eU3l7wM/f+CvzKAE+t5JUA1QV23gIwj3q+GHDDxQnD1WP2j2cdwcsL80jBdBtDH9KMcqmQZFEEBFkxyvWxcN7D7+suIZNlt0FmyoubbY/QJIhDQ+WtZen5/ECqGIZW8QPG4nzFvP3NyW82vWwQOc+XB+hne5bFnEYlifmsQOoKnT1mKYJ0/y60FvmvT3AL8YCsAXYWAC2ABsLwBZgYwHYAmwsAFuAjQVgC7CxAGwBNhaALcDGArAF2FgAtgAbC8AWYGMB2AJsLABbgM0/27cQO7lkPZoAAAAASUVORK5CYII=">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>