<h2>Upload Photos</h2>
<%= form_for [@resource, Photo.new], :html => { :multipart => true, :id => "fileupload" } do |f| %>
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar">
    <div class="span7">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <%= f.file_field :upload %>
      </span>
      <button type="submit" class="btn btn-primary start">
        <i class="icon-upload icon-white"></i>
        <span>Start upload</span>
      </button>
      <button type="reset" class="btn btn-warning cancel">
        <i class="icon-ban-circle icon-white"></i>
        <span>Cancel upload</span>
      </button>
    </div>
  </div>
  <br />
  <!-- The table listing the files available for upload/download -->
  <div class="row-fluid" style="margin-left: 0px;">
    <div id="grid" class="span12 files" data-toggle="modal-gallery" data-target="#modal-gallery" style="margin-left: 0px;">

    </div>
  </div>
<% end %> 
<a class="btn btn-success" href="<%= service_provider_path(current_user.uuid) %>">Back to My Profile</a>  






<script>
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}

  <div class="span4 template-upload fade">
    <div class="thumbnail">
      <a class="preview">
        {% if (file.error) { %}
        <img src="http://placehold.it/284x204&text={%=file.name%}">
        {% } else { %}
        <img src="http://placehold.it/260x140&text={%=file.name%}">
        {% } %}
      </a>
      <div class="caption">
        {% if (file.error) { %}
        <p class="error"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</p>
        {% } else if (o.files.valid && !i) { %}
        <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
        <p>
        <span class="start">
          <button class="btn btn-primary">
            <i class="icon-upload icon-white"></i>
          </button>
        </span>
        <span class="cancel">{% if (!i) { %}
          <button class="btn btn-warning">
            <i class="icon-ban-circle icon-white"></i>
          </button>
          {% } %}
        </span>
      </p>
        {% } %}


      </div>     
    </div>
  </div>

  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="span4 template-download fade">
    {% if (file.thumbnail_url) { %}
    <div class="thumbnail">
      <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}">
        <img src="{%=file.small_url%}">
      </a>
      <div class="caption">
        <p class="delete">
          <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
            <i class="icon-trash icon-white"></i>
          </button>
        </p>
      </div>     
    </div>
    {% } %}
  </div>
  <!--
  <tr class="template-download fade">
    {% if (file.error) { %}
    <td></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else { %}
    <td class="preview">{% if (file.thumbnail_url) { %}
      <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
      {% } %}</td>
  <!--
  <td class="name">
    <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
  </td>
  -->
  <!--
  <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
  <td colspan="2"></td>
  {% } %}
  <td class="delete">
    <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
      <i class="icon-trash icon-white"></i>
    </button>
  <!--<input type="checkbox" name="delete" value="1">-->
  <!--
</td>
</tr>
  -->
  {% } %}
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#fileupload').fileupload({
      acceptFileTypes : /(\.|\/)(gif|jpe?g|png)$/i,  
      maxFileSize: 5000000, //5MB
      previewCrop: true,
      previewAsCanvas: false
    });
    
    $.getJSON($('#fileupload').prop('action'), function (files) {
      var fu = $('#fileupload').data('blueimpFileupload'),
      template;
      fu._adjustMaxNumberOfFiles(-files.length);
      template = fu._renderDownload(files)
      .appendTo($('#fileupload .files'));
      // Force reflow:
      fu._reflow = fu._transition && template.length &&
        template[0].offsetWidth;
      template.addClass('in');
      $('#loading').remove();
    });

  });
</script>  
