// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  label {
    cursor: default;
  }
  .has_many {
    overflow: auto;
    a.close {
      margin-left: 6px;
      margin-top: 2px;
    }
    input[type=text] {
      float: left;
    }
  }
}

.remember_me {
   overflow: auto;
   input {
     float: left;
   }
   label {
     float: left;
     margin-left: 10px;
   }
}

legend {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
  min-width: 220px;
  width: 50%;
}