<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Service Providers</a>
      <div class="container nav-collapse">
        <ul class="nav pull-right">
          <% if user_signed_in? or buyer_signed_in? or service_provider_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path  %></li>
          <% else %>
            <li><%= link_to "Service Providers", new_service_provider_registration_path  %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Buyers", new_buyer_registration_path  %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Sign In", user_session_path  %></li>
          <% end %>  
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>